$fondo_blanco: #FFFFFF;
$fondo_gris: #808080;

.card {
    width: 400px;
    
    h2 {
        text-align: center;
    }

    .descripcion {
        text-align: justify;
        margin: 12px;
    }

    img {
        margin: 0 75px;
    }
}